body
{
    margin: auto;
    padding: auto;
    direction: rtl;
}
.main-footer{

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

    color: white;
    text-align: center;
}
footer{

    background-color: #f1f1f1;
    padding: 90px 0;
}
.footer-container{
max-width: 1300px;
    margin: auto;
    padding: 20px ;


}

